body {
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
}

header {
    background-image: url('../img/banner.jpg');
    background-size: cover;
}

.portada {
    display: block;
    margin: auto;
    height: 20%;
    width: 20%;
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: #005677;
    background-color: #C4C4C4;
}

h2 {
    background-color: #C4C4C4;
    color: #005677;
    display: block;
    margin-left: 10%;  
    margin-right: 10%;
    width: 1041px;
    height: 30px;
}

.listas {
    list-style-type: none;
    margin-left: 15%;
}

button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #005677;
    border-radius: 4px;
    transition: 0.5s;
}

button:hover {
    background-color: lightblue;
}

footer {
    background-color: #005677;
    font-size: 100%;
    font-weight: bold;
}

.contacto  {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.contacto a:hover {
    color: white;
}


